.whatsapp-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chat-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* background-color: #25d366; */
  background-color: var(--dark);
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.chat-icon:hover {
  transform: scale(1.1);
}

.chat-popup {
  position: absolute;
  bottom: 70px;
  right: 0;
  width: 300px;
  background-color: var(--orange);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.chat-header {
  background-color: var(--navy) !important;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header h3 {
  margin: 0;
  font-size: 16px;
}

.chat-header button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.chat-body {
  padding: 15px;
}

.chat-body textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  font-family: inherit;
  color: var(--navy) !important;
}

.chat-footer {
  padding: 15px;
  text-align: right;
}

.chat-footer button {
  /* background-color: #25d366; */
  background-color: var(--navy) !important;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.chat-footer button:hover {
  /* background-color: #128c7e; */
  background-color: var(--white) !important;
  color: var(--navy) !important;
}
.input_field {
  background-color: var(--Concrete_Gray);
  color: black !important;
}

.input_field::placeholder {
  color: black !important;
  opacity: 0.5;
}
